@media (max-width: 399px) {
    .container {
        padding: 0;
        width: auto;
    }

    .header__text {
        width: auto;
    }

    .header__title {

        font-size: 55px;

        width: auto;

    }

    .header__subtitle {
        padding: 5px 20px;
    }

    .btn__menu {
        margin: 20px auto;
    }

    .menu__items {
        display: flex;
        justify-content: space-between
    }

    .menu__items {
        display: none;
        position: absolute;
        top: 277px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 5;
    }

    .menu__items a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #5c5c5c;
        background: #868484f5;
        color: #000000;
    }

    .menu__items li {
        margin-left: 0;
        padding: 0px 15px;
    }

    .content__text {
        padding-top: 100px;
        font-size: 40px;

    }

    .services__content1 {
        margin: 50px auto;
        width: auto;
        background: url(../img/services-img1.png) no-repeat center;
        padding: 0 25px;
    }

    .services__content2 {
        margin: 50px auto;
        width: auto;
        background: url(../img/services-img2.png) no-repeat center;
        padding: 0 25px;
    }

    .services__content3 {
        margin: 50px auto;
        width: auto;
        background: url(../img/services-img3.png) no-repeat center;
        padding: 0 25px;
    }

    .services__content4 {
        margin: 50px auto;
        width: auto;
        background: url(../img/services-img4.png) no-repeat right;
        padding: 0 25px;
    }

    .services__content-title {
        font-size: 40px;
        padding: 20px 0 100px;
        line-height: normal;
    }

    .services__content-text {
        width: auto;
        height: auto;

    }

    .categories__items {
        display: flex;
    }

    .categories-item {
        width: auto;
        margin: 20px 0;
    }

    .item__content {
        color: #dadada;
        background-color: #b69b676e;
        
    }

    .item__title {
        border-bottom: 1px solid #bababa;
    }

    .item__btn a {
        color: #bababa;
    }

    .Feedbacks {
        width: auto;
        padding: 0 20px;
    }

    .FeedbacksContact__inner {
        display: block;
    }

    .Feedbacks__title {
        padding-top: 100px;
    }

    .item__box img {
        height: 99px;
    }

    .Feedbacks__text {
        font-size: 15px;
        line-height: 25px;
    }

    .Feedbacks__name {
        font-size: 25px;
    }

    .ContactUs {
        padding: 0 20px;
        width: auto;
    }

    .ContactUs__title {
        font-size: 50px;
        padding-top: 100px;
    }

    .contacts__inner {
        display: block;
    }

    .phone {
        padding-top: 20px;
    }

    .email {
        padding-top: 20px;
    }

    .adress {
        padding-top: 20px;
    }

    .title {
        text-align: center;
    }

    .footer {
        padding-top: 100px;
    }

    .footer-menu__items {
        display: block;
        text-align: center;
    }

    .footer-menu__items li {
        padding: 10px;
    }
}